
body{

    font-size: 'Times New roman','serif','Times';
    padding: 0;
    margin: 20px;
    background-color:#f0f4f8;
}
h1{
    text-align: center;
    color:#045a79;
}
form{
    max-width: 600px;
    margin:auto;
    background-color: #045a790c;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0,0.7);
    padding: 30px;
}
fieldset{
    border: 2px solid #045a79;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 9px;
    background-color: #045a790c;
    box-shadow: 0px 3px 5px rgb(0, 0, 0,0.4);
}
legend{
    font-weight: bold;
    font-size:  x-large;
    text-align: left;
    color: #045a79;
}
label{
    display: block;
    margin-top: 6px;
    font-size: large;
    color: rgba(0, 0, 0, 0.853);
}
input,textarea {
    width: 98%;
    padding: 10px;
    font-size:20px;
    color: #045a79;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 10px;
}
button{
    width: 100%;;
    background-color: rgb(250, 246, 243);
    padding: 10px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0,0.7);
    border-radius: 5px;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    
}
button:hover {
    background-color: #045a79b7;
    color: aliceblue;
    padding: 12px;
}